# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# venv
.venv/
venv/

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# editor / OS
*.swp
*.tmp
*.bak
.DS_Store

# Environment / secrets
.env
.env.*

# uv
uv.lock
